<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Gale:Security:TokenTmeout" value="10080" />
    <!--
    <add key="Environment" value="INTEGRACION" />
    <add key="CommerceCode" value="597044444401" />
    <add key="PublicCert" value="c:\\inetpub\\wwwroot\\597044444401\\tbk.pem.crt" />
    <add key="WebpayCert" value="c:\\inetpub\\wwwroot\\597044444401\\597044444401.pfx" />
    <add key="Password" value="12345678"/>
    <add key="UrlReturn" value="http://localhost:1301/Pago/consultaEstadoPago" />
    <add key="UrlFinal" value="http://localhost:1301/End/endTransacction" />
    <add key="UrlConfirmacionPagoWeb" value="http://localhost:4200/confirmacion-pago/" />
    
    <add key="UrlReturnSeguros" value="http://localhost:1301/Pago/registraPagoTransbank" />
    <add key="UrlFinalSeguros" value="http://localhost:1301/End/voucherSeguro" />
    <add key="UrlConfirmacionPagoWebSeguro" value="https://landing-meds.option.cl/index.php/transaccion/voucher/" />
    <add key="Url.RegistraPago.Seguros" value="https://landing-meds.option.cl/index.php/transaccion/pago" />
    <add key="Timeout.RegistraPago.Seguros" value="25" />
    <add key="CodigoSociedadPagoExterno" value="597044444402" />

    -->
	<add key="ambiente" value="desarrollo" />
    <add key="Servicio.PagoWeb.Usuario" value="PI_INT_PAGOW" />
    <add key="Servicio.PagoWeb.Password" value="inicio02" />
    <add key="Environment" value="INTEGRACION" />
    <add key="CommerceCode" value="597044444401" />
    <add key="PublicCert" value="c:\\inetpub\\wwwroot\\597044444401\\tbk.pem.crt" />
    <add key="WebpayCert" value="c:\\inetpub\\wwwroot\\597044444401\\597044444401.pfx" />
    <add key="Password" value="12345678" />
    <add key="UrlReturn" value="https://conveniodeportivo.meds.cl/Apiservices/Pago/consultaEstadoPago" />
    <add key="UrlFinal" value="https://conveniodeportivo.meds.cl/Apiservices/End/endTransacction" />
    <add key="UrlConfirmacionPagoWeb" value="https://conveniodeportivo.meds.cl/Apiservices/confirmacion-pago/" />
    <add key="UrlGetResponseNewTransbankApi" value="https://conveniodeportivo.meds.cl/PC/getResponseTransaccion/" />
    <add key="UrlGetContentNewTransbankApi" value="https://conveniodeportivo.meds.cl/PC/getContentTransaccion/" />
    <add key="UrlReturnSeguros" value="https://conveniodeportivo.meds.cl/Apiservices/Pago/registraPagoTransbank" />
    <add key="UrlFinalSeguros" value="https://conveniodeportivo.meds.cl/Apiservices/End/voucherSeguro" />
    <add key="Timeout.RegistraPago.Seguros" value="25" />
    <add key="UrlConfirmacionPagoWebSeguro" value="https://segurodeportivo.meds.cl/index.php/transaccion/voucher/" />
    <add key="Url.RegistraPago.Seguros" value="https://segurodeportivo.meds.cl/index.php/transaccion/pago" />
    <add key="CodigoSociedadPagoExterno" value="597034263345" />
    <add key="StorageConnectionManager" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1" />
  
	<!-- Variables Envio de Correo -->
    <add key="smtp" value="smtp.office365.com" />
    <add key="portnumber" value="587" />
    <add key="usernamec" value="medsprueba@meds.cl" />
    <add key="passwordc" value="MedS2022!" />
	  
    <add key="usernametest" value="medsprueba@meds.cl" />
    <add key="passwordtest" value="MedS2022!" />
    <add key="correo1c" value="cliente" />
    <add key="correo2c" value="gigliola@impactis.cl" />
    <add key="correo3c" value="" />
    <add key="correo4c" value="l" />
    <add key="correo1test" value="gigliola.budini@witi.cl" />
    <add key="correo2test" value="dainer.mesa@witi.cl" />
    <add key="correo3test" value="gustavo.quezada@witi.cl" />
    <add key="correo4test" value="" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <!--
            <customHeaders>
                <add name="X-Developed-By" value="David Muñoz Gaete." />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, authorization, accept" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, PATCH, OPTIONS" />
            </customHeaders>
            -->
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorTemplates.Core" publicKeyToken="f2e65d6ca1d2b4cd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="SQLServerConexionString-cloud" connectionString="Server=tcp:4.0.76.202,1433;Initial Catalog=ordenApp;Persist Security Info=False;User ID=orden;Password=orden2017;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="SQLServerConexionString" connectionString="Server=tcp:meds.database.windows.net,1433;Initial Catalog=Meds;Persist Security Info=False;User ID=meds;Password=Witi2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="Application:default" connectionString="Data Source=.\MSSQLSERVER_2012;Initial Catalog=Gale_v1;" providerName="Gale.Db.Factories.SQLServerFactory" />
  </connectionStrings>
  <system.serviceModel>
    <client />
    <bindings />
    <!--
    <client>
      <endpoint address="http://medqlcinmxq.sap.meds.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WEBPAY&amp;receiverParty=&amp;receiverService=&amp;interface=SI_oa_TransaccionSAPCreate&amp;interfaceNamespace=urn%3Ameds.cl%3Awebpay%3Apagocliente"
        binding="basicHttpBinding" bindingConfiguration="SI_oa_TransaccionSAPCreateBinding"
        contract="RegistraPagoWebReference.SI_oa_TransaccionSAPCreate"
        name="HTTP_Port" />
      <endpoint address="https://medqlcinmxq.sap.meds.cl:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WEBPAY&amp;receiverParty=&amp;receiverService=&amp;interface=SI_oa_TransaccionSAPCreate&amp;interfaceNamespace=urn%3Ameds.cl%3Awebpay%3Apagocliente"
        binding="basicHttpBinding" bindingConfiguration="SI_oa_TransaccionSAPCreateBinding1"
        contract="RegistraPagoWebReference.SI_oa_TransaccionSAPCreate"
        name="HTTPS_Port" />
    </client>
    -->
  </system.serviceModel>
  <applicationSettings>
    <API.Properties.Settings>
      <setting name="API_PagoEpisodioWebReference_SI_os_PagoEpisodioWebQueryService" serializeAs="String">
        <value>http://medqlcinmxq.sap.meds.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WEBPAY&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_PagoEpisodioWebQuery&amp;interfaceNamespace=urn%3Ameds.cl%3Awebpay%3Apagocliente</value>
      </setting>
      <setting name="API_RegistraPagoWebReference_SI_os_TransaccionSAPCreateService" serializeAs="String">
        <value>http://medqlcinmxq.sap.meds.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WEBPAY&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_TransaccionSAPCreate&amp;interfaceNamespace=urn%3Ameds.cl%3Awebpay%3Apagocliente</value>
      </setting>
    </API.Properties.Settings>
  </applicationSettings>
</configuration>