<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Gale:Security:TokenTmeout" value="10080" />
    <add key="Environment" value="INTEGRACION" />
    <add key="CommerceCode" value="597020000542" />
    <add key="PublicCert" value="c:\\inetpub\\wwwroot\\597020000542\\tbk.pem" />
    <add key="WebpayCert" value="c:\\inetpub\\wwwroot\\597020000542\\597020000542.pfx" />
    <add key="Password" value="transbank123" />
    <!-- <add key="UrlReturn" value="http://192.168.2.104:80/Services/Pago/consultaEstadoPago" />
        <add key="UrlFinal" value="http://192.168.2.104:80/Services/End/endTransacction" />      
        <add key="UrlConfirmacionPagoWeb" value="http://192.168.2.104:80/Web/confirmacion-pago/" />-->
    <add key="UrlReturn" value="http://localhost:1301/Pago/consultaEstadoPago" />
    <add key="UrlFinal" value="http://localhost:1301/End/endTransacction" />
    <add key="UrlConfirmacionPagoWeb" value="http://localhost:4200/confirmacion-pago/" />
    <add key="Servicio.PagoWeb.Usuario" value="ext_impactis" />
    <!--<add key="Servicio.PagoWeb.Password" value="impactis.18" />-->
    <add key="Servicio.PagoWeb.Password" value="impactis.08" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <!--
            <customHeaders>
                <add name="X-Developed-By" value="David Muñoz Gaete." />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, authorization, accept" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, PATCH, OPTIONS" />
            </customHeaders>
            -->
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorTemplates.Core" publicKeyToken="f2e65d6ca1d2b4cd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="SQLServerConexionString-cloud" connectionString="Server=tcp:4.0.76.202,1433;Initial Catalog=ordenApp;Persist Security Info=False;User ID=orden;Password=orden2017;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="SQLServerConexionString" connectionString="Server=tcp:meds.database.windows.net;Initial Catalog=Meds;Persist Security Info=False;User ID=meds;Password=Witi2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="Application:default" connectionString="Data Source=.\MSSQLSERVER_2012;Initial Catalog=Gale_v1;" providerName="Gale.Db.Factories.SQLServerFactory" />
  </connectionStrings>


  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <API.Properties.Settings>
      <setting name="API_PagoEpisiodioWebReference_SI_os_PagoEpisodioWebQueryService"
        serializeAs="String">
        <value>http://meddlcinmxd.sap.meds.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WEBPAY&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_PagoEpisodioWebQuery&amp;interfaceNamespace=urn:meds.cl:webpay:pagocliente</value>
      </setting>
      <setting name="API_RegistraPagoWebReference_SI_os_TransaccionSAPCreateService"
        serializeAs="String">
        <value>http://meddlcinmxd.sap.meds.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WEBPAY&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_TransaccionSAPCreate&amp;interfaceNamespace=urn:meds.cl:webpay:pagocliente</value>
      </setting>
    </API.Properties.Settings>

  </applicationSettings>
</configuration>